/* - - - - - - Global Styles - - - - - - */
.clearfix::before, .clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}

.wrapper {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
}

.muted {
  color: rgba(0, 0, 0, 0.65);
}

/* - - - - - - Styles - - - - - - */
