doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    // meta(name="theme-color" content="#ffffff")
    // meta(name="description" content="Directory for all my web projects")
    meta(name="author" content="Kuroi Kyu")
    // meta(name="keywords" content="Projects, Portfolio, Kuroi, Kyu, HTML, CSS, JavaScript")
    title kuroikyu | projects directory
    
    // Responsive meta tag
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    // Normalize HTML5 Reset
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css")
      
    // styles.css link  
    link(rel="stylesheet" href="css/style.css")
      
  body

    // script.js link
    script(type="application/javascript", src="js/script.js")
